*.o
*.d
*.rej
*.orig
*.patch
*~
*.lo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
include/config.h.in
install-sh
ltmain.sh
m4/*.m4
missing
config.log
config.status
include/config.h
include/stamp-h1
libtool
pkgconfig/libodp.pc
platform/*/.deps/
test/*/.deps/
cscope.out
tags
lib/
obj/
build/
test/example/odp_example
test/packet/odp_packet
test/packet_netmap/odp_packet_netmap
test/api_test/odp_atomic
test/api_test/odp_shm
test/api_test/odp_ring
test/api_test/odp_timer
test/packet/odp_pktio
test/timer/odp_timer_test
test/generator/odp_generator
test/l2fwd/odp_l2fwd
