*.o
*.d
*.rej
*.orig
*.patch
*~
*.lo
*.gcda
*.gcno
ID
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/*.m4
missing
config.log
config.status
libtool
pkgconfig/libodp.pc
.deps/
cscope.out
tags
TAGS
lib/
doc/output
test-driver
core
.dirstamp
CUnit-Memory-Dump.xml
