*.log
*.trs
odp_ver_abt_log_dbg
odp_buffer
odp_classification
odp_cpumask
odp_init
odp_init_abort
odp_init_log
odp_packet
odp_pool
odp_queue
odp_random
odp_scheduler
odp_shared_memory
odp_synchronizers
odp_time
odp_timer
odp_thread
