*.log
*.trs
odp_atomic
odp_atomic_perf
odp_bench_buffer
odp_bench_misc
odp_bench_packet
odp_bench_pktio_sp
odp_bench_timer
odp_cpu_bench
odp_crc
odp_crypto
odp_dmafwd
odp_dma_perf
odp_icache_perf
odp_ipsec
odp_ipsecfwd
odp_l2fwd
odp_l2fwd_perf
odp_lock_perf
odp_mem_perf
odp_packet_gen
odp_pktio_ordered
odp_pktio_perf
odp_pool_latency
odp_pool_perf
odp_queue_perf
odp_random
odp_sched_latency
odp_sched_perf
odp_sched_pktio
odp_stash_perf
odp_stress
odp_timer_accuracy
odp_timer_perf
