*.log
*.trs
odp_atomic
odp_atomic_perf
odp_bench_buffer
odp_bench_packet
odp_cpu_bench
odp_crc
odp_crypto
odp_dma_perf
odp_ipsec
odp_ipsecfwd
odp_l2fwd
odp_lock_perf
odp_mem_perf
odp_packet_gen
odp_pktio_ordered
odp_pktio_perf
odp_pool_perf
odp_queue_perf
odp_random
odp_sched_latency
odp_sched_perf
odp_sched_pktio
odp_scheduling
odp_timer_perf
